In [1]:
import pandas as pd
import numpy as np
import csv

In [2]:
pd.set_option('display.max_columns', 1000)
pd.set_option('display.max_rows', 1000)
pd.set_option("future.no_silent_downcasting", True)

In [3]:
#sbs_austria = pd.read_excel('sbs_austria.xlsx', sheet_name = 'Sheet 1')
eu27_list = [
    "sbs_austria", "sbs_belgium", "sbs_bulgaria", "sbs_croatia",
    "sbs_cyprus", "sbs_czechia", "sbs_denmark", "sbs_estonia",
    "sbs_finland", "sbs_france", "sbs_germany", "sbs_greece",
    "sbs_hungary", "sbs_ireland", "sbs_italy", "sbs_latvia",
    "sbs_lithuania", "sbs_luxembourg", "sbs_malta", "sbs_netherlands",
    "sbs_poland", "sbs_portugal", "sbs_romania", "sbs_slovakia",
    "sbs_slovenia", "sbs_spain", "sbs_sweden"
]

In [6]:
sbs_countries = []
for name in eu27_list:
    sbs_name = pd.read_excel(name+'.xlsx', sheet_name = 'Sheet 1')

    country_name = sbs_name.iloc[5,2]
    sbs_name = sbs_name.iloc[8:90]
    sbs_name = sbs_name.reset_index(drop=True)
    sbs_name.columns = sbs_name.iloc[0,:]
    sbs_name = sbs_name.drop(0)
    sbs_name = sbs_name.drop(1)
    sbs_name = sbs_name.dropna(axis=1, how="all")
    sbs_name = sbs_name.replace(":", np.nan)
    sbs_name = sbs_name.reset_index(drop=True)
    sbs_name = sbs_name.rename(columns={"SIZE_EMP (Labels)": country_name})
    
    sbs_countries.append(sbs_name)

sbs_countries[-1]

,Sweden,Total,From 0 to 1 person employed,From 0 to 9 persons employed,From 2 to 9 persons employed,From 10 to 19 persons employed,From 20 to 49 persons employed,From 50 to 249 persons employed,250 persons employed or more
0,Mining of coal and lignite,0,NaN,0,NaN,0,0,0,0
1,Extraction of crude petroleum and natural gas,0,NaN,0,NaN,0,0,0,0
2,Mining of metal ores,28,NaN,22,NaN,1,1,1,3
3,Other mining and quarrying,428,NaN,396,NaN,9,15,8,0
4,Mining support service activities,115,NaN,112,NaN,0,3,0,0
5,Manufacture of food products,3637,NaN,3004,NaN,314,198,86,35
6,Manufacture of beverages,698,NaN,662,NaN,17,6,6,7
7,Manufacture of tobacco products,34,NaN,28,NaN,1,0,2,3
8,Manufacture of textiles,1673,NaN,1599,NaN,30,24,18,2
9,Manufacture of wearing apparel,1495,NaN,1482,NaN,6,5,2,0
10,Manufacture of leather and related products,470,NaN,458,NaN,1,9,2,0
11,Manufacture of wood and of products of wood an...,4117,NaN,3735,NaN,184,107,65,26
12,Manufacture of paper and paper products,246,NaN,153,NaN,14,28,28,23
13,Printing and reproduction of recorded media,2157,NaN,2037,NaN,56,34,27,3
14,Manufacture of coke and refined petroleum prod...,26,NaN,16,NaN,2,2,3,3
15,Manufacture of chemicals and chemical products,672,NaN,511,NaN,46,39,58,18
16,Manufacture of basic pharmaceutical products a...,117,NaN,78,NaN,15,7,6,11
17,Manufacture of rubber and plastic products,1060,NaN,799,NaN,95,80,69,17
18,Manufacture of other non-metallic mineral prod...,1743,NaN,1605,NaN,47,48,26,17
19,Manufacture of basic metals,255,NaN,148,NaN,29,26,35,17
20,"Manufacture of fabricated metal products, exce...",8511,NaN,7246,NaN,638,379,211,37
21,"Manufacture of computer, electronic and optica...",1215,NaN,1021,NaN,71,63,46,14
22,Manufacture of electrical equipment,723,NaN,550,NaN,49,68,42,14
23,Manufacture of machinery and equipment n.e.c.,2181,NaN,1643,NaN,165,168,142,63
24,"Manufacture of motor vehicles, trailers and se...",859,NaN,691,NaN,41,44,56,27
25,Manufacture of other transport equipment,775,NaN,698,NaN,26,24,20,7
26,Manufacture of furniture,2052,NaN,1858,NaN,97,58,29,10
27,Other manufacturing,3786,NaN,3656,NaN,62,41,21,6
28,Repair and installation of machinery and equip...,6310,NaN,6032,NaN,160,76,36,6
29,"Electricity, gas, steam and air conditioning s...",1932,NaN,1747,NaN,42,54,65,24
30,"Water collection, treatment and supply",309,NaN,288,NaN,5,5,10,1
31,Sewerage,253,NaN,215,NaN,8,10,18,2
32,"Waste collection, treatment and disposal activ...",714,NaN,569,NaN,54,47,32,12
33,Remediation activities and other waste managem...,111,NaN,95,NaN,8,7,1,0
34,Construction of buildings,23511,15848,21931,6083,899,473,179,29
35,Civil engineering,3084,2130,2847,717,104,81,40,12
36,Specialised construction activities,77461,53144,72684,19540,2826,1464,433,54
37,Wholesale and retail trade and repair of motor...,21892,14708,20878,6170,588,259,122,45
38,"Wholesale trade, except of motor vehicles and ...",33926,22256,30794,8538,1552,963,528,89
39,"Retail trade, except of motor vehicles and mot...",52975,35586,49333,13747,1922,1102,504,114
40,Land transport and transport via pipelines,24522,15708,22473,6765,1084,651,275,39
41,Water transport,958,730,885,155,31,16,15,11
42,Air transport,290,220,257,37,13,9,9,2
43,Warehousing and support activities for transpo...,3116,1892,2612,720,195,176,102,31
44,Postal and courier activities,1209,1027,1178,151,10,9,4,8
45,Accommodation,5309,3328,4615,1287,295,227,150,22
46,Food and beverage service activities,25738,10451,22354,11903,2178,894,268,44
47,Publishing activities,6977,5407,6541,1134,192,123,93,28
48,"Motion picture, video and television programme...",12994,11446,12848,1402,73,40,27,6
49,Programming and broadcasting activities,235,213,230,17,1,0,2,2
50,Telecommunications,1115,843,1009,166,44,35,14,13
51,"Computer programming, consultancy and related ...",37884,30543,36325,5782,693,537,265,64
52,Information service activities,3146,2536,2971,435,94,43,34,4
53,"Financial service activities, except insurance...",15146,NaN,14765,NaN,123,120,100,38
54,"Insurance, reinsurance and pension funding, ex...",579,NaN,472,NaN,19,23,40,25
55,Activities auxiliary to financial services and...,4674,NaN,4306,NaN,169,114,73,12
56,Real estate activities,51033,43410,49950,6540,518,314,210,41
57,Legal and accounting activities,29153,23209,28543,5334,364,160,70,16
58,Activities of head offices; management consult...,65525,58329,64632,6303,464,288,126,15
59,Architectural and engineering activities; tech...,36942,29634,35630,5996,686,414,166,46
60,Scientific research and development,3612,2837,3368,531,118,72,45,9
61,Advertising and market research,11021,8898,10602,1704,219,138,51,11
62,"Other professional, scientific and technical a...",28895,26196,28577,2381,177,85,46,10
63,Veterinary activities,1392,979,1295,316,62,25,8,2
64,Rental and leasing activities,5308,4139,5090,951,118,62,33,5
65,Employment activities,6600,4335,5736,1401,300,276,214,74
66,"Travel agency, tour operator and other reserva...",2892,2322,2776,454,60,37,14,5
67,Security and investigation activities,796,430,630,200,71,59,24,12
68,Services to buildings and landscape activities,19412,13206,18096,4890,718,378,181,39
69,"Office administrative, office support and othe...",4053,3238,3830,592,90,65,57,11
70,Education,25929,21376,24519,3143,744,415,221,30
71,Human health activities,30469,25746,29781,4035,331,222,98,37
72,Residential care activities,1331,691,917,226,163,143,86,22
73,Social work activities without accommodation,3267,1695,2557,862,237,198,220,55
74,"Creative, arts and entertainment activities",40814,38531,40689,2158,69,32,18,6
75,"Libraries, archives, museums and other cultura...",454,321,410,89,9,23,12,0
76,Gambling and betting activities,275,150,257,107,6,4,5,3
77,Sports activities and amusement and recreation...,12628,9341,12061,2720,312,157,82,16
78,Repair of computers and personal and household...,3602,2981,3556,575,31,12,2,1
79,Other personal service activities,44697,38983,44291,5308,279,85,32,10