The NACE Rev. 2 classification (Statistical Classification of Economic Activities in the European Community) is a standardized system for categorizing economic activities. It consists of 21 broad sections (identified by letters A–U), further divided into divisions, groups, and classes.

Here are the 21 broad sections of NACE Rev. 2:


A. Agriculture, Forestry and Fishing

    Crop and animal production, hunting and related service activities
    Forestry and logging
    Fishing and aquaculture

B. Mining and Quarrying

    Mining of coal and lignite
    Extraction of crude petroleum and natural gas
    Mining of metal ores
    Other mining and quarrying
    Mining support service activities

C. Manufacturing

    Manufacture of food products, beverages, and tobacco products
    Manufacture of textiles, clothing, leather, and related products
    Manufacture of wood and paper products
    Manufacture of chemicals, pharmaceuticals, rubber, and plastic products
    Manufacture of basic metals and fabricated metal products
    Manufacture of machinery, equipment, and transport vehicles
    Other manufacturing activities

D. Electricity, Gas, Steam, and Air Conditioning Supply

    Production and distribution of electricity
    Distribution of gaseous fuels
    Steam and air conditioning supply

E. Water Supply; Sewerage, Waste Management, and Remediation Activities

    Water collection, treatment, and supply
    Sewerage
    Waste collection, treatment, and disposal activities
    Remediation activities and other waste management services

F. Construction

    Construction of buildings
    Civil engineering
    Specialized construction activities

G. Wholesale and Retail Trade; Repair of Motor Vehicles and Motorcycles

    Wholesale and retail trade and repair of motor vehicles
    Wholesale trade (except motor vehicles)
    Retail trade (except motor vehicles)

H. Transportation and Storage

    Land transport and transport via pipelines
    Water transport
    Air transport
    Warehousing and support activities for transportation
    Postal and courier activities

I. Accommodation and Food Service Activities

    Accommodation
    Food and beverage service activities

J. Information and Communication

    Publishing activities
    Motion picture, video, and television production, sound recording, and music publishing
    Telecommunications
    Computer programming, consultancy, and related activities
    Information service activities

K. Financial and Insurance Activities

    Financial service activities
    Insurance, reinsurance, and pension funding
    Activities auxiliary to financial services and insurance

L. Real Estate Activities

    Real estate activities

M. Professional, Scientific, and Technical Activities

    Legal and accounting activities
    Management consultancy
    Architectural and engineering activities
    Scientific research and development
    Advertising and market research
    Other professional, scientific, and technical activities
    Veterinary activities

N. Administrative and Support Service Activities

    Rental and leasing activities
    Employment activities
    Travel agency, tour operator, and reservation services
    Security and investigation activities
    Services to buildings and landscape activities
    Office administrative and support activities

O. Public Administration and Defence; Compulsory Social Security

    Administration of the state, economic and social policy
    Defence activities
    Provision of services for the community

P. Education

    Education

Q. Human Health and Social Work Activities

    Human health activities
    Residential care activities
    Social work activities without accommodation

R. Arts, Entertainment, and Recreation

    Creative, arts, and entertainment activities
    Libraries, archives, museums, and other cultural activities
    Sports, amusement, and recreation activities

S. Other Service Activities

    Activities of membership organizations
    Repair of computers and personal goods
    Other personal service activities

T. Activities of Households as Employers; Undifferentiated Goods- and Services-Producing Activities of Households for Own Use

    Activities of households as employers
    Undifferentiated goods- and services-producing activities of households for own use

U. Activities of Extraterritorial Organizations and Bodies

    Activities of international organizations (e.g., the United Nations, embassies)

These sections form the broadest categories of the NACE Rev. 2 classification. They are further broken down into more detailed divisions, groups, and classes. Let me know if you'd like the divisions or deeper breakdowns!

In [1]:
import pandas as pd

In [ ]:
pd.set_option('display.max_columns', 1000)
pd.set_option('display.max_rows', 1000)

In [3]:
mini_naio = pd.read_pickle('mini_naio.p')
sbs = pd.read_pickle('sbs.p')

#mini_naio['Numbers of employees'] =

,IND_USE (Labels),Final consumption expenditure by government,Final consumption expenditure by households,Exports of goods and services,Changes in inventories and acquisition less disposals of valuables,Gross fixed capital formation,"Added value, gross",Compensation of employees
0,Total,3375443.51,7283949.99,3291159.74,360243.46,3320258.7,14303899.14,7447036.79
1,"Products of agriculture, hunting and related s...",1756.62,142619.06,30647.16,10474.61,7444.62,244253.17,54367.01
2,"Products of forestry, logging and related serv...",878.87,7533.2,2148.11,11085.96,456.39,29364.21,9874.05
3,Fish and other fishing products; aquaculture p...,10.07,10712.56,575.75,-45.88,56.16,6506.32,2826.59
4,Mining and quarrying,333.07,12425.73,10117.36,2681.28,1268.44,61205.82,23611.51
...,...,...,...,...,...,...,...,...
61,Services furnished by membership organisations,13189.07,9455.62,218.3,8.56,8.44,91532.1,80847.76
62,Repair services of computers and personal and ...,12.75,15672.3,1506.32,-574.3,3397.31,15961.52,8549.41
63,Other personal services,493.25,136298.27,1798.1,63.75,7.41,104965.09,35311.7
64,Services of households as employers; undiffere...,2102.19,39706.68,0.96,0.07,0.07,41928.3,44398.89
65,Services provided by extraterritorial organisa...,9.69,7.09,0,6.68,8.38,NaN,NaN

In [4]:
sbs

,SIZE_EMP (Labels),Total,From 0 to 1 person employed,From 0 to 9 persons employed,From 2 to 9 persons employed,From 10 to 19 persons employed,From 20 to 49 persons employed,From 50 to 249 persons employed,250 persons employed or more
0,Mining and quarrying,371000,NaN,30000,NaN,24400,38600,63848,213000
1,Manufacturing,30007527,NaN,3720000,NaN,2130000,3137995,6501120,14514113
2,"Electricity, gas, steam and air conditioning s...",1380000,NaN,192263,NaN,26554,48700,137668,977247
3,"Water supply; sewerage, waste management and r...",1585225,NaN,134000,NaN,80000,150000,370000,NaN
4,Construction,13814274,2292700,6463861,4171161,1989977,1869881,1756785,1733772
5,Wholesale and retail trade; repair of motor ve...,29779934,2869697,10159638,7289941,2867238,3099214,4100000,9600000
6,Transportation and storage,10368577,795843,2132860,1337017,778285,1090577,1605824,4761030
7,Accommodation and food service activities,10888928,670000,4500000,3800000,1850000,1570000,1421984,1570000
8,Information and communication,7169884,839595,1694054,854459,458755,648890,1252840,3115346
9,Financial and insurance activities,4950777,NaN,912551,NaN,NaN,177248,494777,NaN
10,Real estate activities,2674967,732689,1703331,970642,204985,198000,271677,NaN
11,"Professional, scientific and technical activities",12013424,3268760,6306152,3037392,1085161,1100000,1360181,2200000
12,Administrative and support service activities,13987371,1054559,2443205,1388646,730461,1093974,2313468,7406264
13,Education,2453280,572741,1074485,501744,221804,290962,417229,448801
14,Human health and social work activities,13308561,1528116,3417453,1889337,944000,994469,1780000,6169122
15,"Arts, entertainment and recreation",2192933,532163,1018050,485887,203295,247350,314087,410147